{% extends "base.html" %}

{% block content %}
<span class="title"><h1>{% block title %} Zookeepers {% endblock %}</h1></span>
  <hr>
  <div class="content">
    {% for student in students %}
    <div class="bg-dark text-white">
      <p><h3>Zookeeper ID {{ student.id }} details</h3></p>
      <ul class="list-group w-25 mx-auto my-3">
        <li class="list-group-item">Name: {{ student.firstname }} {{ student.lastname }}</li>
        <li class="list-group-item">Email: {{ student.email }}</li>
        <li class="list-group-item">Shift: {{ student.bio }}</li>
        <li class="list-group-item">Animal Assigned (ID): {{ student.classroom_id }}</li>
      </ul>
    </div>  
    {% endfor %}
  </div>
{% endblock %}